@import url('reset.css');

body {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
}


.example {
    padding: 100px 20px;
    margin: 0 auto;
    background: rgb(238, 227, 153);
    box-shadow: inset 3px 3px 10px rgb(37, 28, 22);
}

.item {
    display: inline-block;
    padding: 50px;
    border-radius: 10px;
    margin: 5px;
    box-shadow: 3px 3px 10px rgb(37, 28, 22);
    text-shadow: 1px 1px 5px rgb(245, 241, 123);
}

.number .item:nth-child(4n + 1) {
    background: rgb(213, 76, 76);
}

.number .item:nth-child(4n + 2) {
    background: rgb(90, 196, 92);
}

.number .item:nth-child(4n + 3) {
    background: rgb(9, 57, 74);
    color:  rgb(238, 227, 153);
}

.number .item:nth-child(4n + 4) {
    background: rgb(238, 185, 38);
}

.item:hover {
    opacity: 0.5;
    box-shadow: inset 3px 3px 10px rgb(37, 28, 22);
}


.item::before {
    content: url('../img/vector.svg');
    display: inline-block;
    padding-right: 7px;
}

.item:hover::before {
    opacity: 0; 
}
/* ============================================= */


.box-about {
    padding: 100px 15px;
    max-width: 705px;
    margin: 0 auto;
}

.box-about >*:not(:last-child) {
    margin-bottom: 48px;
}

.label {
    margin-bottom: 16px;
}

.rect-label {
    color: #37393F;
    font-weight: 500;
    text-transform: capitalize;
}

.rect-label::before {
    content: '';
    background: #40DDB6;
    width: 14px;
    height: 14px;
    display: inline-block;
    margin-right: 7px;
}

.title2 {
    color: #37393F;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
    text-transform: capitalize;
}

.about-title {
    max-width: 413px;
    margin-bottom: 10px;
}

.text {
    color: #7D7D7D;
    line-height: 1.46;
}

.text p:not(:last-child) {
    margin-bottom: 16px;
}

.title5 {
    color: #37393F;
    font-family: 'Poppins' sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 12px;
}

.our-block {
    padding: 28px 41px 28px 38px;
    border: 1px solid #E3E3E3;
}

.vector::before {
    content: "";
    display: inline-block;
    background: url('../img/vector.svg') no-repeat;
    width: 27px;
    height: 27px;
    min-height: 30px;
    vertical-align: middle;
    margin-right: 19px;
}

.vector:hover::before {
    opacity: 0.3;
}

.our-text {
    padding-left: 46px;
}

.our-block:not(:last-child) {
    margin-bottom: 31px;
}


.button {
    display: inline-block;
    background-color: #6B77E5;
    color: #FFF;
    font-weight: 600;
    text-transform: capitalize;
    padding: 22px 35px;
}

.button:hover {
    background-color: #40DDB6;
}
/* ============================================= */

.box-now {
    padding: 100px 15px;
    max-width: 1250px;
    margin: 0 auto;
}

.now-info {
    text-align: center;
    margin-bottom: 77px;
}

.now-columns {
    font-size: 0;
}

.column-now {
    display: inline-block;
    max-width: 386px;
    padding: 56px 43px;
    text-align: center;
    background: #F4F4F4;
}

.column-now:not(:last-child) {
    margin-right: 31px;
}

.column1::before {
    content: '';
    display: inline-block;
    background: url('../img/icon-1.svg') top / cover no-repeat;
    width: 72px;
    height: 72px;
    margin-top: -94px;
    margin-bottom: 22px;
}

.column1:hover::before,
.column2:hover::before,
.column3:hover::before {
    opacity: 0.3;
}

.column2::before{
    content: '';
    display: inline-block;
    background: url('../img/icon-2.svg') no-repeat;
    width: 72px;
    height: 72px;
    margin-top: -94px;
    margin-bottom: 22px;
}

.column3::before {
    content: '';
    display: inline-block;
    background: url('../img/icon-3.svg') no-repeat;
    width: 72px;
    height: 72px;
    margin-top: -94px;
    margin-bottom: 22px;
}


.title4 {
    color: #37393F;
    font-family: 'Poppins', sans-serif ;
    font-size: 25px;
    font-weight: 600;
    line-height: 1.27;
    margin-bottom: 16px;
}

.column-text p:not(:last-child) {
    font-size: 18px;
    margin-bottom: 37px;
}

.column-link {
    display: inline-block;
    font-size: 18px;
    color: #6B77E5;
    font-weight: 600;
    text-transform: capitalize;
}

.column-link:hover{
    color: #40DDB6;
}
/* =================================== */

.box-why {
    padding: 100px 15px;
    max-width: 722px;
    margin: 0 auto;
}

.box-why >*:not(:last-child) {
    margin-bottom: 40px;
}

.why-img img {
    max-width: 100%;
}

.why-img img:hover {
    opacity: 0.3;
}

.why-benefits {
    font-size: 0;
}

.benefits-info {
    display: inline-block;
    max-width: 332px;
    vertical-align: text-top;
}

.benefits-img {
    display: inline-block;
    max-width: 330px;
    margin-right: 29px;
}

.benefits-img:hover {
    opacity: 0.3;
}

.why-img img {
    max-width: 100%;
}

.title3 {
    color: #37393F;
    font-family: 'Poppins',sans-serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 1.27;
    text-transform: capitalize; 
}

.info-title {
    margin-bottom: 10px;
}


.title5 {
    color: #6B77E5;
    line-height: 1.27;
}

.benefits-title5 {
    color: #40DDB6;
    margin-bottom: 21px;
}

.item-benefits {
    color: #7D7D7D;
    font-size: 18px;
}

.benefits-list li:not(:last-child) {
    margin-bottom: 30px;
}

.item-benefits::before {
    content: '';
    display: inline-block;
    background: url('../img/vector.svg')  no-repeat;
    width: 27px;
    height: 27px;
    padding-right: 34px;
    vertical-align: middle;
}

.item-benefits:hover::before {
    opacity: 0.3;
}

/* ============================================= */


.box-jewelry {
    font-family: 'Cormorant Infant', serif;
    color: #000;
    font-size: 0;
    font-weight: 700;

    background: rgb(245, 245, 245);
    padding: 100px 15px;
    max-width: 1244px;
    margin: 0 auto;
}   

.jewerly-title {
    font-size: 60px;
    line-height: 1.15;
    text-transform: capitalize;
    max-width: 480px;
    display: inline-block;
    padding-top: 150px;
}

.jewerly-title:not(:last-child){
    margin-bottom: 30px;
}

.jewerly-title ::after {
    content: '';
    display: block;
    width: 62%;
    height: 3px;
    background-color: #78473B;
    margin-top: 3px;
}

.jewelry-cards {
    display: inline-block;
    font-size: 0;
    vertical-align: top;
}

.jewelry-card1 {
    display: inline-block;
    max-width: 334px;
    margin-right: 45px;
    vertical-align: top;
    padding-top: 31px;
}

.jewelry-card2 {
    display: inline-block;
    max-width: 334px;
}

.jewerly-title2 {
    font-size: 46px;
}

.jewerly-title2:not(:last-child){
    margin-bottom: 31px;
}

.jewelry-img1,
.jewelry-img2 {
    display: inline-block;
    max-width: 334px;
    max-height: 381px;
    border: 1px solid #000;
    margin-bottom: 25px;
}

.jewelry-img1 img,
.jewelry-img2 img {
    max-width: 100%;
    margin-top: 9px;
    margin-left: 10px;
}

.jewerly-title6,
.jewerly-price {
    font-size: 24px;
    line-height: 1.4;
}

.jewelry-card1 a:hover{
    text-decoration: underline;
}

.jewelry-card2 a:hover{
    text-decoration: underline;
}

/* ========================================== */

.game {
	min-height: 650px;
	text-align: initial;
	margin-top: 30px;
	font-size: 0;
}
.game__line {
	/* display: inline-block; */
	/* width: 50px;
	height: 50px; */
	background-color: rgb(82, 193, 226);
}
.game__line-1 {
	width: 50px;
	height: 50px;
}
.game__line-2 {
	/* display: block; */
	width: 50px;
	height: 50px;
}
.game__line-1:hover + .game__line-2,
.game__line-2:hover {
	width: 100%;
}
.game__line-3 {
	/* text-align: right; */
	width: 1030px;
	/* min-width: 9px; */
	height: 50px;
	display: inline-block;
}
.game__line-3-1 {
	visibility: hidden;
	width: 50px;
	height: 50px;
}
.game__line-2:hover ~ .game__line-3-1,
.game__line-3-1:hover {
	display: inline-block;
	visibility: visible;
}
.game__line-3-1:hover {
	height: 100px;
}
.game__line-4-1 {
	display: inline-block;
	/* display: none; */
	/* display: block; */
	visibility: hidden;
	height: 50px;
	width: 50px;
	/* visibility: hidden; */
}
.game__line-3-1:hover ~ .game__line-4 {
	display: inline-block;
	width: 1030px;
	height: 50px;
}
.game__line-3-1:hover ~ .game__line-4-1,
.game__line-4-1:hover {
	visibility: visible;
	display: inline-block;
}
.game__line-4-1:hover {
	width: 100%;
}
.game__line-5 {
	width: 20px;
	/* height: 20px; */
	height: 300px;
	/* display: none; */
	visibility: hidden;
}
.game__line-4-1:hover ~ .game__line-5 {
	/* display: block; */
	visibility: visible;
	height: 20px;
}
.game__line-5:hover {
	/* display: block; */
	visibility: visible;
	height: 300px;
}
.game__line-6 {
	/* display: none; */
	visibility: hidden;
	height: 20px;
	width: 20px;
	background-color: red;
}
.game__line-5:hover ~ .game__line-6,
.game__line-6:hover {
	/* display: block; */
	visibility: visible;
}
.game__line-6:hover {
	width: 100%;
	height: 100px;
}
.game-text {
	visibility: hidden;
	text-align: center;
	height: 500px;
}
.game__line-6:hover ~ .game-text,
.game-text:hover {
	visibility: visible;
	background: url("../img/05.jpg") 0 0 / cover no-repeat fixed;
}

