@import url('reset.css');

body {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 1.46;
    color: #7D7D7D;
}

.title {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    line-height: 1.27;
}

.box-why {
    max-width: 692px;
    margin: 0 auto;
    padding: 50px 0px;
}

.why-img {
    max-width: 100%;
    margin-bottom: 37px;
}

h1.title {
    font-size: 30px;
    text-transform: capitalize;
    color: #37393F;
    margin-bottom: 10px;
}

div.text {
    margin-bottom: 40px;
}

h3.title.bl {
    color: #6B77E5;
    font-size: 20px;
    margin-bottom: 12px;
}

.our-img {
    display: inline-block;
    max-width: 50%;
}

.our-img img {
    max-width: 100%;
}


.our-body {
    max-width: 50%;
    display: inline-block;
    vertical-align: top;
    padding: 0px 5px 0px 28px;
}

h2.title {
    color: #37393F;
    font-size: 25px;
    margin-bottom: 15px;
}

h3.title {
    font-size: 20px;
    color: #40DDB6;
    margin-bottom: 21px;
}

.list li {
    margin-bottom: 30px;
    padding-left: 25px;
}

/* ======================================= */

.box-what {
    max-width: 1169px;
    margin: 0 auto;
    padding: 50px 0px;
}

.what-body {
    max-width: 50%;
    display: inline-block;
    vertical-align: top;
    padding-right: 38px;
}

.what-images {
    max-width: 50%;
    display: inline-block;
}

.what-images img {
    max-width: 100%;
}

.img-1 {
    margin-right: 18px;
}

.what-label {
    font-size: 28px;
    line-height: normal;
    color: #D06B00;
    text-transform: uppercase;
    margin-bottom: 13px;
}

.what-title {
    font-family: 'DM Serif Text', serif;
    color: #0E333D;
    font-size: 59px;
    line-height: 1.46;
    text-transform: capitalize;
    margin-bottom: 25px;
}

.what-text {   
    font-family: Inter;
    font-size: 20px;
    line-height: 1.8;  
    color: #474747;
    margin-bottom: 20px;
}
/* =================================== */

.example {
    padding: 50px 0px;
}

.bl-h3 {
    text-align: center;
    font-size: 40px;
    text-shadow: 5px 5px 5px rgb(18, 18, 23);
    margin-bottom: 50px;
}

.example-block-1 {
    width: 300px;
    margin: 0 auto;
    height: 100px;
    overflow:auto;
    padding: 50px;
    background-color: #40DDB6;
}

.example-block-2 {
    display: inline-block;
    width: 500px;
    height: 300px;
    background: #eea5a5;
    padding: 30px;
    margin: 50px;
}

.example-block-3 {
    display: inline-block;
    width: 500px;
    padding: 100px;
    background: #6B77E5;
    margin: 100px;
}

p {
    margin-bottom: 30px;
}